<div class="home-page p-5">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column">
        <h2 class="is-size-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, perferendis.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque beatae corporis cum, deserunt dolorum
          eligendi, eos incidunt omnis quod repellendus reprehenderit, rerum suscipit tempora voluptatem. Ab adipisci
          commodi deserunt ex expedita fuga hic provident quidem sunt vero. Assumenda commodi fuga omnis quidem tempora!
          Aliquid atque consectetur doloribus ea inventore.
        </p>
        <div class="flexbox-center">
          <button mat-raised-button routerLink="/task">Show tasks</button>
        </div>
      </div>
    </div>
  </div>
</div>
