<div class="sidenav">
  <div class="w-100 flexbox-end">
    <button class="m-2" mat-icon-button color="primary" (click)="toggleSidenav()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="sidenav-content">
    <div class="logo flexbox-center">
      <mat-icon>assignment</mat-icon>
    </div>
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/">Home</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button routerLink="/task">Task</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a mat-button target="_blank" href="https://gitlab.com/niyazov95/task_manager">Github</a>
      </mat-list-item>
    </mat-list>
  </div>
</div>
