<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForAdding">
    <div class="flexbox-between">
      <mat-form-field>
        <mat-label>Task Status: </mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of status" [value]="status">
            {{ status.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Task Priority: </mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let priority of priority" [value]="priority">
            {{ priority.priority }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Task Type: </mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of type" [value]="type">
            {{ type.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Taks Name: </mat-label>
        <textarea rows="3" type="text" matInput formControlName="name"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Taks Name: </mat-label>
        <textarea rows="5" type="text" matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="close" cdkFocusInitial>Close</button>
  <button mat-button [mat-dialog-close]="taskForAdding">Add Task</button>
</div>
