<div class="task-manager">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column p-5">
        <app-task-card></app-task-card>
      </div>
    </div>
  </div>
</div>
