<div class="main">
  <mat-sidenav-container class="main-sidenav" hasBackdrop="true">
    <mat-sidenav #sidenav mode="side">
      <app-sidenav-content ($sidenavState)="toggleSidenav($event)"></app-sidenav-content>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content" [ngClass]="{ 'with-sidebar': sidenav.opened }">
        <app-navbar-top ($sidenavState)="toggleSidenav($event)"></app-navbar-top>

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
