.main {
  width: 100%;
  height: 100%;


  &-sidenav {
    height: 100%;
    min-height: 100vh;
  }

  &-content {
    min-height: 100vh;

    &.with-sidebar {
      transform: scale(0.9);
      border: 1px solid;
      box-shadow: 0 10px 16px 0 rgba(255, 255, 255, 0.2),0 6px 20px 0 rgba(255, 255, 255, 0.19) !important;
    }
  }
}
