<mat-card>
  <div class="task-additional">
    <div class="task-additional__description">
      <p>
        <b>Task description: </b> <i>{{ task.description }}</i>
      </p>
    </div>
    <div class="task-additional__action">
      <div class="flexbox-between">
        <mat-form-field>
          <mat-label>Task Status: </mat-label>
          <mat-select [(ngModel)]="task.status">
            <mat-option *ngFor="let status of status" [value]="status">
              {{ status.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Task Priority: </mat-label>
          <mat-select [(ngModel)]="task.priority">
            <mat-option *ngFor="let priority of priority" [value]="priority">
              {{ priority.priority }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Task Type: </mat-label>
          <mat-select [(ngModel)]="task.type">
            <mat-option *ngFor="let type of type" [value]="type">
              {{ type.type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Task Name: </mat-label>
        <textarea rows="5" matInput [placeholder]="task.name" [(ngModel)]="task.name"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Task Description: </mat-label>
        <textarea rows="5" matInput [placeholder]="task.description" [(ngModel)]="task.description"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-card>
