* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #757575;
}

.pr-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.pr-modal.is-open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.pr-modal-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.pr-modal-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2f0;
  border-radius: 6px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
}

.pr-modal-header {
  border-bottom: 1px solid #a4a4a4;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.pr-modal-header button {
  border: none;
  outline: none;
  background: transparent;
  color: red;
  font-size: 20px;
}

.pr-modal-content {
  height: calc(100% - 125px);
  overflow: auto;
  //display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}

.pr-modal-content input {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 7px 14px;
  outline: none;
  margin: 10px 0;
  font-size: 12px;
}

.disabled-input input {
  width: 100%;
  margin: 10px 0;
}

.created-by {
  background: #ffffff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  max-height: 300px;
  overflow: auto;
}
.created-by p {
  font-size: 12px;
}

.lang-tabs {
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.lang-tabs span {
  width: 100%;
  text-align: center;
}
.lang-tabs textarea {
  width: 100%;
}

.lang-tabs span .lang-tabs-content {
  display: none;
}
.lang-tabs span.is-active .lang-tabs-content {
  display: block;
}

span.is-active button {
  background: #1f6d9a;
  color: #fff;
}

.lang-tabs button {
  padding: 7px 14px;
  border: none;
  outline: none;
  background-color: #cccccc;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.lang-tabs button:hover {
  background: #1f6d9a;
  color: #ffffff;
}

.lang-tabs-content {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.pr-modal-content input:nth-child(1) {
  margin-bottom: auto;
}
.pr-modal-content textarea {
  margin-bottom: auto;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 7px 14px;
  outline: none;
  font-size: 12px;
}

.pr-modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #a4a4a4;
}

.pr-modal-footer button {
  border: none;
  outline: none;
  border-radius: 6px;
  margin: 0 5px;
  padding: 7px 14px;
  color: #ffffff;
}

.pr-modal-footer button.close-btn {
  background-color: #9a1f1f;
}
.pr-modal-footer button.submit-btn {
  background-color: #1f6d9a;
}

.w-100 {
  width: 100%;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.lds-dual-ring:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f6d9a;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success-msg {
  background: #28a745;
  border-radius: 5px;
  color: #ffffff;
  padding: 7px 14px;
}
