<div class="pr-modal" [ngClass]="{ 'is-open': open }" *ngIf="text">
  <div class="pr-modal-backdrop" (click)="closeModal()"></div>
  <main class="pr-modal-main">
    <div class="pr-modal-header">
      <h6>Translate</h6>
      <span *ngIf="update !== ''" class="success-msg">{{update}}</span>
      <button (click)="closeModal()">&times;</button>
    </div>
    <div class="pr-modal-content">
      <div class="disabled-input">
        <input
          type="text"
          disabled
          placeholder="Keyword"
          value="{{ text.title }}"
        />
      </div>
      <div class="created-by">
        <p>
          Created By: {{ getUserFirstName() }}
          {{ getUserLastName() }}
        </p>
        <p>at: {{ text.createdBy.time | date :'medium' }}</p>
      </div>
      <div class="lang-tabs">
        <span
          *ngFor="let translation of text.translations"
          [ngClass]="{ 'is-active': isSelectedTranslation(translation) }"
          ><button (click)="selectTranslation(translation)">
            {{ translation.languageId.title }}
          </button>
        </span>
        <hr />
      </div>
      <div class="lang-tabs" *ngIf="selectedTranslation">
        <span
          *ngFor="let page of selectedTranslation.pages"
          [ngClass]="{ 'is-active': isSelectedPage(page) }"
          ><button (click)="selectPage(page)">
            {{ getPageTitle(page) }}
          </button>
        </span>
        <hr />
      </div>
      <div class="lang-tabs" *ngIf="selectedPage">
        <div class="disabled-input w-100">
          <label>Translate this word</label>
          <input
            class="w-100"
            type="text"
            [(ngModel)]="selectedPage.value"
          />
        </div>
        <hr />
      </div>
      <div class="created-by">
        <p>
          Updated:
        </p>
        <p *ngFor="let update of text.updatedBy">
          {{ update.time | date :'medium' }}
          {{ update.user.firstName }} {{ update.user.lastName }}
          {{ update.values.from }} {{ update.values.to }} {{ update.values.languageId.title }}
        </p>
      </div>
    </div>
    <div class="pr-modal-footer">
      <button class="submit-btn" [ngClass]="{'lds-dual-ring': queryLoading}" (click)="submit()">Ok</button>
      <button class="close-btn" (click)="closeModal()">Cancel</button>
    </div>
  </main>
</div>
