<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="mat-typography">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="User Name" [(ngModel)]="userName" localization-placeholder>
    </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
<!--      <input [(ngModel)]="password" localization-placeholder>-->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="login()" cdkFocusInitial mat-button>Login</button>
</mat-dialog-actions>
