.tooltip {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 20%;
  z-index: 9 !important;
  background: rgba(48, 48, 48, 0.82);
  color: #fff;
  font-weight: 500;
  padding: 5px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.tooltip-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tooltip-content p {
  border-right: 1px solid #fff;
  font-size: 12px;
  padding: 0 5px;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
}
button.edit {
  border: none;
  outline: none;
  background-color: #000;
  margin-left: 10px;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
  transition: all 0.2s ease-in-out;
}
button.edit:hover {
  background-color: #303030;
  color: #fafafa;
}
