<mat-nav-list>
  <a (click)="login($event)" *ngIf="!authState" mat-list-item>
    <span mat-line>Login</span>
    <span mat-line>To Edit Content</span>
  </a>
  <a (click)="logout($event)" *ngIf="authState" mat-list-item>
    <span mat-line>Logout</span>
  </a>
</mat-nav-list>
