.task-priority {
  &.Low {
    background-color: #209cee;
  }
  &.Normal {
    background-color: #ffdd57;
    color: #303030;
  }
  &.High {
    background-color: #ff3860;
  }
}

.task-status {
  &.Done {
    color: forestgreen;
  }
  &.Canceled {
    color: #ff3860;
  }
  &.Hold {
    color: #ffdd57;
  }
}

.expanded-panel {
  background-color: #616161;
}
