<div class="task-card">
  <div class="task-card__header block">
    <div class="columns is-multiline">
      <div class="column flexbox-center is-7">
        <button (click)="addTask()" mat-raised-button><mat-icon>add</mat-icon> Add task</button>
      </div>
      <div class="column is-5">
        <div class="columns">
          <div class="column flexbox-center is-4">
            <p>Task type</p>
          </div>
          <div class="column flexbox-center is-4">
            <p>Date</p>
          </div>
          <div class="column flexbox-center is-4">
            <p>Date</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="task-card__content">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let task of task" class="expanded-panel">
        <mat-expansion-panel-header class="pt-4 block pb-4" expandedHeight="100%" collapsedHeight="100%">
          <mat-panel-title class="columns">
            <div class="column flexbox-center is-1">
              <mat-icon class="task-status" [title]="task.status.name" [ngClass]="task.status.name">{{
                task.status.value
              }}</mat-icon>
            </div>
            <div class="column flexbox-center is-6">
              <p>{{ task.name }}</p>
            </div>
            <div class="column is-4">
              <div class="columns">
                <div class="column flexbox-center is-4">
                  <p>{{ task.type.type }}</p>
                </div>
                <div class="column flexbox-center is-4">
                  <mat-chip-list aria-label="Fish selection">
                    <mat-chip class="task-priority" [ngClass]="task.priority.priority">{{
                      task.priority.priority
                    }}</mat-chip>
                  </mat-chip-list>
                </div>
                <div class="column flexbox-center is-4">
                  <p>{{ task.date }}</p>
                </div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="task-card__content-action p-3">
          <app-task-actions [task]="task"></app-task-actions>
        </div>
        <mat-action-row>
          <button mat-raised-button>Save</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
