.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &-action {
    height: 90px;
    width: 90px;
    border-right: 1px solid #757575;
  }

  &-links {
    ul {
    }
  }
}
