<div class="bd-example is-paddingless">
  <nav class="navbar is-danger">
    <div class="navbar-action flexbox-center">
      <button class="w-100 h-100" mat-button (click)="toggleSidenav()">
        <mat-icon class="lg-icon">menu</mat-icon>
      </button>
    </div>
    <div class="navbar-links ml-auto mr-auto w-25">
      <ul class="flexbox">
        <li>
          <a mat-button routerLink="/">Home</a>
        </li>
        <li>
          <a mat-button routerLink="/task">Tasks</a>
        </li>
      </ul>
    </div>
    <div class="navbar-search ml-auto mr-auto  w-25 flexbox-center">
      <mat-form-field class="w-100">
        <input type="tel" matInput placeholder="Type to search..." />
        <button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </nav>
  <div class="navbar is-black">
    <div class="flexbox-center w-100 p-5" *ngIf="route">
      <h2 class="is-size-2">{{ route }}</h2>
    </div>
  </div>
</div>
