.flexbox {
  display: flex;

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-column {
    display: flex;
    flex-direction: column;

    &-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-end {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
