mat-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  font-size: 1.5rem !important;

  &.sm-icon {
    width: 1rem !important;
    height: 1rem !important;
    font-size: 1rem !important;
  }
  &.lg-icon {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 2rem !important;
  }
}
